#searchInput{
    transition: 2s;
}

.icon-container .search{
    outline: none !important;
    border: none !important;
}

.searchInput{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0%;
}
.searchInput:focus{
    outline: none;
}
.modal-header{
    background-color: black;
    color:whitesmoke;
}
